@charset "UTF-8";
/* line 4, ../src/scss/pikabu.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../src/scss/pikabu.scss */
.m-pikabu-viewport, .test-viewport {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* line 17, ../src/scss/pikabu.scss */
.m-pikabu-sidebar, .test-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: block;
  background: #222;
}

/* line 29, ../src/scss/pikabu.scss */
.m-pikabu-left, .test-sidebar-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 33, ../src/scss/pikabu.scss */
.m-pikabu-right, .test-sidebar-right {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 38, ../src/scss/pikabu.scss */
.m-pikabu-container, .test-container {
  width: 100%;
  -webkit-backface-visibility: hidden;
}
/* line 43, ../src/scss/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-container.m-pikabu-left, .m-pikabu-left-visible .m-pikabu-container.test-sidebar-left, .m-pikabu-left-visible .test-sidebar-left.test-container, .m-pikabu-left-visible .m-pikabu-left.test-container, .m-pikabu-right-visible .m-pikabu-container.m-pikabu-right, .m-pikabu-right-visible .m-pikabu-container.test-sidebar-right, .m-pikabu-right-visible .test-sidebar-right.test-container, .m-pikabu-right-visible .m-pikabu-right.test-container {
  position: absolute;
}

/* line 48, ../src/scss/pikabu.scss */
.m-pikabu-overlay {
  display: none;
}
/* line 52, ../src/scss/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-overlay, .m-pikabu-right-visible .m-pikabu-overlay {
  position: absolute;
  top: 0;
  z-index: 30;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* line 65, ../src/scss/pikabu.scss */
.m-pikabu-hidden {
  display: none;
}

/* line 70, ../src/scss/pikabu.scss */
.m-pikabu-overflow-touch {
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot");
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix") format("eot"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.woff") format("woff"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf") format("truetype"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo") format("svg");
}

/* line 49, ../src/scss/pikabu-theme.scss */
body {
  margin: 0;
  padding: 0;
  background: #fcfdf4;
  color: #6b645c;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 59, ../src/scss/pikabu-theme.scss */
header {
  overflow: hidden;
  background: #fee65e;
  border-bottom: solid 2px #ffaa42;
  text-align: center;
  text-shadow: 1px 1px 0 #fcfdf4;
}

/* line 69, ../src/scss/pikabu-theme.scss */
header h1 {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
  color: #e64a33;
}
/* line 79, ../src/scss/pikabu-theme.scss */
header h1::before {
  content: "\26a1";
  margin-right: 15px;
  font-family: "entypo", sans-serif;
}

/* line 86, ../src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle, .nav-toggle {
  position: relative;
  float: left;
  display: block;
  width: 50px;
  height: 30px;
  margin: 10px;
  background: #fdef6e;
  border: solid 1px rgba(230, 74, 51, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fcfdf4;
  -moz-box-shadow: inset 0 1px 0 #fcfdf4;
  box-shadow: inset 0 1px 0 #fcfdf4;
  text-indent: 100%;
  white-space: nowrap;
  color: #e64a33;
  line-height: 29px;
}
/* line 106, ../src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle[data-role="right"], [data-role="right"].nav-toggle {
  float: right;
}
/* line 110, ../src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle::after, .nav-toggle::after {
  content: '☰';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "entypo", sans-serif;
  text-align: center;
  text-indent: 0;
  font-size: 25px;
  font-weight: bold;
  color: inherit;
}
/* line 128, ../src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle[data-role="right"]::after, [data-role="right"].nav-toggle::after {
  content: "\e705";
  font-size: 17px;
}
/* line 134, ../src/scss/pikabu-theme.scss */
.m-pikabu-left-visible .m-pikabu-nav-toggle[data-role="left"], .m-pikabu-left-visible [data-role="left"].nav-toggle, .m-pikabu-right-visible .m-pikabu-nav-toggle[data-role="right"], .m-pikabu-right-visible [data-role="right"].nav-toggle {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 140, ../src/scss/pikabu-theme.scss */
section {
  padding: 20px;
}

/* line 144, ../src/scss/pikabu-theme.scss */
.m-pikabu-sidebar, .test-sidebar {
  padding: 10px;
  background: #6b645c;
  color: white;
}

/* line 151, ../src/scss/pikabu-theme.scss */
.m-pikabu-container, .test-container {
  background: #fcfdf4;
}

/* line 155, ../src/scss/pikabu-theme.scss */
section h2 {
  display: block;
  margin: 0;
  color: #e64a33;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

/* line 166, ../src/scss/pikabu-theme.scss */
section h3 {
  display: block;
  margin: 20px -20px 10px;
  padding: 5px 20px 7px;
  background: #e64a33;
  border-bottom: solid 2px #e6e6dd;
  color: #fcfdf4;
  font-size: 18px;
  font-weight: normal;
}

/* line 179, ../src/scss/pikabu-theme.scss */
section p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4;
}

/* line 186, ../src/scss/pikabu-theme.scss */
section p em {
  color: #e64a33;
  font-style: normal;
}

/* line 191, ../src/scss/pikabu-theme.scss */
section a {
  color: #e64a33;
}
/* line 193, ../src/scss/pikabu-theme.scss */
section a:hover {
  color: black;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

/* line 199, ../src/scss/pikabu-theme.scss */
section ul {
  margin: 15px 0;
}

/* line 205, ../src/scss/pikabu-theme.scss */
.no-js html {
  position: relative;
  height: 100%;
}
/* line 211, ../src/scss/pikabu-theme.scss */
.no-js body {
  min-height: 100%;
}
/* line 215, ../src/scss/pikabu-theme.scss */
.no-js .m-pikabu-viewport, .no-js .test-viewport {
  display: block;
  min-height: 100%;
}
/* line 221, ../src/scss/pikabu-theme.scss */
.no-js .m-pikabu-nav-toggle, .no-js .nav-toggle {
  display: none;
}
/* line 226, ../src/scss/pikabu-theme.scss */
.no-js .m-pikabu-left, .no-js .test-sidebar-left,
.no-js .m-pikabu-right,
.no-js .test-sidebar-right {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 240, ../src/scss/pikabu-theme.scss */
.no-js .m-pikabu-container, .no-js .test-container {
  margin-left: 20%;
  width: 60%;
}

@media all and (min-width: 769px) {
  /* line 205, ../src/scss/pikabu-theme.scss */
  html {
    position: relative;
    height: 100%;
  }

  /* line 211, ../src/scss/pikabu-theme.scss */
  body {
    min-height: 100%;
  }

  /* line 215, ../src/scss/pikabu-theme.scss */
  .m-pikabu-viewport, .test-viewport {
    display: block;
    min-height: 100%;
  }

  /* line 221, ../src/scss/pikabu-theme.scss */
  .m-pikabu-nav-toggle, .nav-toggle {
    display: none;
  }

  /* line 226, ../src/scss/pikabu-theme.scss */
  .m-pikabu-left, .test-sidebar-left,
  .m-pikabu-right,
  .test-sidebar-right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 240, ../src/scss/pikabu-theme.scss */
  .m-pikabu-container, .test-container {
    margin-left: 20%;
    width: 60%;
  }
}
