* {
    box-sizing: border-box;
}

html {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #3ca274;
}

.c-header {
    position: fixed;
    top: 0;
    z-index: 5;

    width: 100%;
    padding: 5px;
    height: 75px;

    background: rgba(44, 118, 94, 0.85);
}

.c-header__menu {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 65px;
    height: 65px;

    background: #318365;
    border: 0;

    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: #faf6f2;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-transition: left 0.2s ease-in-out;
}

.c-header__menu:active {
    background: #318365;
    opacity: 0.6;
}

.c-header__menu[data-pikabu-effect="drawerRight"] {
    left: 100%;
    margin-left: -70px;
}

.pikabu__container {
    padding: 0 20px 20px;

    background: #faf6f2;

    color: #1c4a48;
}

.c-masthead {
    margin: 0 -20px;
    padding: 6em 3em 1.5em;

    background: #3ca274;

    color: #faf6f2;
    text-align: center;
}

.c-masthead__title {
    margin: 0 0 10px;

    font-size: 36px;
    font-weight: 900;
    color: #eff5ab;
}

.c-masthead__subtitle {
    margin: 0;

    font-size: 20px;
}

.c-effects {
    list-style: none;
    margin: 20px -10px;
    padding: 0;
}

.c-effects__button {
    width: 100%;
    padding: 20px;
    margin: 0 0 10px;
    border: 2px solid #3ca274;

    border-radius: 5px;
    background: transparent;

    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: #3ca274;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.c-effects__button:active {
    background: #3ca274;
    opacity: 0.8;

    color: #faf6f2;
}

.c-effects__button.c--active {
    background: #3ca274;

    color: #faf6f2;
}

.pikabu.pikabu--is-open {
    background: #1c4a48;
}
