* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

.button-section {
    text-align: center;
    padding: 10px 0;
}

input {
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    background: white;
}

.c-pikabu {
    background: blue;
}

.pikabu__container {
    background: green;
}

.tallifier {
    height: 3000px;
    width: 75%;
    margin: 0 auto;
    background: linear-gradient(to top, red, purple);
}
