// Pikabu
// =====
//
//
// Notes:
//
// 1. The exact position (top, right, bottom, left) is added automatically by
//    Pikabu. The positioning can be configured by using Pikabu's `coverage` API,
//    which is explained [here](https://github.com/mobify/pikabu#coverage)
// 2. The display is automatically set to "block" by Pikabu on open.
// 3. Avoid content bleed through.
// 4. Hide the outline when Pikabu is focused for screen readers
// 5. Pikabu shows a tap highlight when tapped for an unknown reason. This
//    removes that.
//

// Variables
// ---------
//

$pikabu__z-index: 2 !default;

.pikabu {
    position: fixed; // 1

    display: none; // 2

    background: white; // 3
    outline: none; // 4

    -webkit-tap-highlight-color: rgba(black, 0); // 5
}

// Pikabu: Viewport
// ----------------
//
// Applying `overflow: hidden;` to `body` doesn't block horizontal scrolling
// when an internal element is translated outside of its bounds. We need this
// `viewport` container to block horizontal scrolling.

.pikabu__viewport {
    overflow: hidden;
}

// Pikabu: Container
// ----------------
//
// This container holds the main body content of the page and gets translated
// by the effect.

.pikabu__container {
    position: relative;
    z-index: $pikabu__z-index;

    overflow: hidden;
}

// Pikabu: Wrapper
// --------------
//
// The Pikabu Wrapper is responsible for applying a flex context that will
// layout the children inside (i.e. header, content and footer).
//
// This is added to the markup automatically by Pikabu, so no need to include in
// any authored code.
//
//
// Notes:
//
// 1. The relevant flex children are the `.pikabu__header`, `.pikabu__footer`
//    and `.pikabu__content`

.pikabu__wrapper {
    display: flex; // 1
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}



// Pikabu: Header & Footer
// ----------------------
//
// The header is the top section of a Pikabu modal. Typically holds a heading or
// title.
//
// There is no footer by default. However, you can pass HTML to Pikabu via its API,
// as explained [here](https://github.com/mobify/pikabu#footer)
//
//
// Notes:
//
// 1. `display: flex` is coming from `.pikabu__wrapper`
// 2. This prevents the header and footer from being forced to shrink relative to
//    other flex children (read: the content) – in other words, the header and
//    footer will not shrink to accomodate the `.pikabu__content` element

.pikabu__header,
.pikabu__footer {
    flex-shrink: 0; // 1, 2
}


// Pikabu: Content
// --------------
//
// This is the actual container for a Pikabu's content. This is added automically
// by Pikabu, so you do not need to use it in your code
//
//
// Notes:
//
// 1. `display: flex` is coming from `.pikabu__wrapper`
// 2. This allows the content to grow or shrink as necessary based on content
//    and the header/footer

.pikabu__content {
    overflow: auto;
    flex: 1; // 1, 2

    -webkit-overflow-scrolling: touch;
}


// Pikabu: Hidden
// -------------
//
// We polyfill the hidden attribute here to ensure it hides all content when
// applied. Pikabu uses [hidden] to hide content from FOUT before the plugin is
// initialized.

[hidden] {
    display: none !important;
}
