// Pikabu Theme
// ===========
//

$pikabu-theme__sidebar-bg: #1c4a48;

.pikabu {

    &.pikabu--is-open {
        background: $pikabu-theme__sidebar-bg;
    }
}

.pikabu__container {
    padding: 0 20px 20px;
}
