///////////////////////////
// Variable Declarations
//
$margin: 5px;

$text: 14px; // Default
    $xsmall-text: 11px;
    $small-text: 12px;
    $medium-text: 16px;
    $large-text: 18px;
    $xlarge-text: 24px;