@charset "UTF-8";
@import "compass/css3";

* {
    @include box-sizing(border-box);
}

.m-pikabu-viewport {
    position: relative;
    overflow: hidden;

    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.m-pikabu-sidebar {
    position: absolute;

    top: 0;
    bottom: 0;

    overflow: auto;
    display: block;

    background: #222;
}

.m-pikabu-left {
    @include translate3d(-100%, 0, 0);
}

.m-pikabu-right {
    right: 0;
    @include translate3d(100%, 0, 0);
}

.m-pikabu-container {
    width: 100%;
    -webkit-backface-visibility: hidden;

    .m-pikabu-left-visible &.m-pikabu-left,
    .m-pikabu-right-visible &.m-pikabu-right {
        position: absolute;
    }
}

.m-pikabu-overlay {
    display: none;

    .m-pikabu-left-visible &,
    .m-pikabu-right-visible & {
        position: absolute;
        top: 0;
        z-index: 30;

        display: block;
        height: 100%;
        width: 100%;

        cursor: pointer;
    }
}

.m-pikabu-hidden {
    display: none;
}

// Scrolling
.m-pikabu-overflow-touch {
    -webkit-overflow-scrolling: touch;
}