@charset "UTF-8";
@import "compass/css3";
@import "compass/css3/box";

// <TODO>: Make these javascript settings
$leftSidebarWidth: 80% !default; // Width of the left sidebar
$rightSidebarWidth: 80% !default; // Width of the right sidebar
$animation: true !default; // Set to false if you don't want transitions

.m-pikabu-viewport {
    position: relative;

    overflow: hidden;

    @include display-box;

    @include perspective(1000);
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
}

.m-pikabu-sidebar {
    position: absolute;

    top: 0;

    overflow: auto;
    display: block;
}

.m-pikabu-right {
    right: 0;

    width: $rightSidebarWidth;

    @include translate3d(100%, 0, 0);

    .m-pikabu-right-visible & {
        @include translate3d(0, 0, 0);
    }
}

.m-pikabu-left {
    width: $leftSidebarWidth;

    @include translate3d(-100%, 0, 0);

    .m-pikabu-left-visible & {
        @include translate3d(0, 0, 0);
    }
}

.m-pikabu-container {
    width: 100%;
    @include backface-visibility(hidden);

    .m-pikabu-left-visible & {
        @include translate3d($leftSidebarWidth, 0, 0);
    }

    .m-pikabu-right-visible & {
         @include translate3d(-$rightSidebarWidth, 0, 0);
    }
}

@if $animation == true {
    .m-pikabu-container,
    .m-pikabu-sidebar {
        @include transition(
            transform 0.2s ease-in
        );
    }
}

.m-pikabu-overlay {
    display: none;

    .m-pikabu-left-visible &,
    .m-pikabu-right-visible & {
        position: absolute;
        top: 0;
        z-index: 30;

        display: block;
        width: 100%;

        cursor: pointer;
    }
}

.m-pikabu-hidden {
    display: none;
}

// Scrolling
.m-pikabu-overflow-touch {
    -webkit-overflow-scrolling: touch;
}