@charset "UTF-8";
@import "compass/css3";

// VARIABLES
// ---------
//
// <TODO>: Make these javascript settings
$leftSidebarWidth: 80% !default; // Width of the left sidebar
$rightSidebarWidth: 80% !default; // Width of the right sidebar

// No point in an animation variable in here since the speed is set via Javascript
$animation: true !default; // Set to false if you don't want transitions


// MIXINS
// ------

@mixin m-sidebar-overlay($opacity: 0.75, $color: black) {
    &::after {
        content: '';
        
        position: absolute;
        top: 0;
        left: 0;
        
        display: block;
        height: 100%;
        width: 100%;
        
        background: $color;
        opacity: $opacity;
        @include transition(opacity 0.5s);
        
        pointer-events: none;
    }

    .m-pikabu-left-visible &::after {
        opacity: 0;
    }
}
html,
body {
    height: 100%;
}
.m-pikabu-container {
    position: relative;
}

.m-pikabu-viewport {
    position: relative;

    overflow: hidden;

    @include perspective(1500);
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    
    background: #222;
}

.m-pikabu-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    height: 100%;
    width: 80%;

    display: block;
}

.m-pikabu-right {
    right: 0;

    width: $rightSidebarWidth;

    @include translate3d(100%, 0, 0);

    .m-pikabu-right-visible & {
        @include translate3d(0, 0, 0);
    }
}

.m-pikabu-left {
    width: $leftSidebarWidth;
    @include translate3d(-100%, 0, 0);

    .m-pikabu-left-visible & {
        @include translate3d(0, 0, 0);
    }
}

.m-pikabu-container {
    position:relative;
    left: 0;
    z-index: 90;
    
    @include backface-visibility(hidden);

    .m-pikabu-left-visible & {
        @include translate3d($leftSidebarWidth, 0, 0);
    }

    .m-pikabu-right-visible & {
         @include translate3d(-$rightSidebarWidth, 0, 0);
    }
}

@if $animation == true {
    .m-pikabu-container,
    .m-pikabu-sidebar {
        @include transition(
            transform 0.5s ease
        );
    }
}

.m-pikabu-overlay {
    display: none;

    .m-pikabu-left-visible &,
    .m-pikabu-right-visible & {
        position: absolute;
        top: 0;
        z-index: 30;

        display: block;
        width: 100%;

        cursor: pointer;
    }
}

// Scrolling
.m-pikabu-overflow-touch {
    -webkit-overflow-scrolling: touch;
}
// EFFECTS
// -------
//
// Note: Push is the default behaviour


.m-pikabu-reveal {
    @include translate3d(0, 0, 0);
    @include m-sidebar-overlay($opacity: 0.5);
}

.m-pikabu-shutter {
    @include transform(translate3d(-50%, 0, 0));
    @include m-sidebar-overlay($opacity: 0.5);
}

.m-pikabu-swing-in {
    @include transform(
        translate3d(-100%, 0, 0)
        rotateY(-90deg)
    );
    @include transform-origin(100%, 50%);
    @include transform-style(preserve-3d);
    @include m-sidebar-overlay;
        
    .m-pikabu-left-visible & {
        @include transform(
            translate3d(0, 0, 0)
            rotateY(0deg)
        );
    }
}

.m-pikabu-swing-out {
    @include transform(
        translate3d(-100%, 0, 0)
        rotateY(90deg)
    );
    @include transform-origin(100%, 50%);
    @include transform-style(preserve-3d);
    @include m-sidebar-overlay($color: #fcfdf4);
        
    .m-pikabu-left-visible & {
        @include transform(translate3d(0, 0, 0) rotateY(0deg));
    }
}