* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

.pinny p {
    margin: 0;
}

p + p {
    margin-bottom: 10px;
}